<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="navCtrl.back()" routerDirection="back"
      ><ion-icon name="arrow-back"></ion-icon
    ></ion-button>
    <ion-title>View Car</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{ car.image }}" />
    <ion-card-header>
      <ion-card-title>{{ car.model }}</ion-card-title>
      <ion-card-subtitle>{{ car.manufacturer }}</ion-card-subtitle>
    </ion-card-header>
    <ion-item>Type: {{ car.type }}</ion-item>
    <ion-item>Color: {{ car.color }}</ion-item>
    <ion-item>Engine: {{ car.engine }}</ion-item>
    <ion-item>Features: {{ car.features }}</ion-item>
    <ion-item>Mileage: {{ car.mileage }}</ion-item>
    <ion-item>Number of seats: {{ car.numberOfSeats }}</ion-item>
    <ion-item>Mileage: {{ car.mileage }}</ion-item>
    <ion-item>Price: {{ car.price }}</ion-item>
    <ion-item>Specifications: {{ car.specifications }}</ion-item>
    <ion-item>Status: {{ car.status }}</ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-card-title>Comments</ion-card-title>
        <ion-button slot="end" id="commentModal">Add</ion-button>
      </ion-item>
    </ion-card-header>
    <ion-card *ngFor="let c of comments | async">
      <ion-card-header>
        <ion-card-title>{{ c.username }}</ion-card-title>
        <ion-card-subtitle>{{ c.rating }} out of 5</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>{{ c.comment }}</ion-card-content>
    </ion-card>
  </ion-card>
  <ion-modal trigger="commentModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Leave comment</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="addComment()" [strong]="true"
              >Confirm</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label>Rating: </ion-label>
          <ion-select aria-label="Rating" [(ngModel)]="newComment.rating">
            <ion-select-option *ngFor="let r of [1, 2, 3, 4, 5]"
              >{{ r }}</ion-select-option
            >
          </ion-select>
          <ion-label position="stacked">Enter comment</ion-label>
          <ion-input
            type="text"
            placeholder="comment..."
            [(ngModel)]="newComment.comment"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
