<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start"
    [routerLink]="['/tabs/tab1']"
    routerDirection="back"
    ><ion-icon name="arrow-back"></ion-icon
      ></ion-button>
      <ion-title class="ion-text-center">Cars</ion-title>
      <ion-button color="danger" slot="end" routerLink="/fav">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab *ngIf="admin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addnewcar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item>
      <ion-label>Type: </ion-label>
      <ion-select [(ngModel)]="filterParam.type" (ionChange)="filter()">
        <ion-select-option value="Sedan">Sedan</ion-select-option>
        <ion-select-option value="SUV">SUV</ion-select-option>
        <ion-select-option value="Hatchback">Hatchback</ion-select-option>
        <ion-select-option value="Sports">Sports</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="admin">
      <ion-label>Status: </ion-label>
      <ion-select [(ngModel)]="filterParam.status" (ionChange)="filter()">
        <ion-select-option value="available">Available</ion-select-option>
        <ion-select-option value="sold">Sold</ion-select-option>
        <ion-select-option value="history">History</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Max Mileage: </ion-label>
      <ion-input
        type="number"
        [(ngModel)]="filterParam.maxMileage"
        (ionChange)="filter()"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Number of Seats</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="filterParam.numberOfSeats"
        (ionChange)="filter()"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Max Price: </ion-label>
      <ion-input
        type="number"
        [(ngModel)]="filterParam.maxPrice"
        (ionChange)="filter()"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="filterParam = {}">Reset</ion-button>

  <ion-list *ngIf="filterParam != null && filterParam == filterParam">
    <ion-card *ngFor="let car of cars | async | filterCar : filterParam">
      <ion-card-header class="ion-padding" style="font-weight:bold;">
        <img style="width: 100%;" src="{{car.image}}" alt="" />
        <ion-card-title class="ion-no-padding" style="font-style: italic;">{{car.model}}</ion-card-title>
        <ion-card-subtitle class="ion-no-padding">{{car.type}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle style="font-weight: bold;">Color: {{car.color}}</ion-card-subtitle>
        <ion-card-subtitle style="font-weight: bold;">Mileage: {{car.mileage}}</ion-card-subtitle>
        <ion-card-subtitle style="font-weight: bold;" >Price: {{car.price}}</ion-card-subtitle>
      </ion-card-content>
      <ion-buttons *ngIf="admin">
        <ion-button color="danger" (click)="deleteCar(car)">
          <ion-icon name="close-circle"></ion-icon>Delete
        </ion-button>
        <ion-button color="success" (click)="openEdit(car)">
          <ion-icon name="pencil"></ion-icon>Edit
        </ion-button>
      </ion-buttons>
      <!--style="display:flex;justify-content:center"-->
      <ion-buttons >
        <ion-button
          fill="clear"
          color="primary"
          (click)="dataSrv.selectedCarId = car.id!"
          [routerLink]="['/viewcar']"
        >
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-button (click)="dataSrv.addToFavorite(car)">
          <ion-icon name="heart" color="danger"></ion-icon>Favorite
        </ion-button>
        <ion-button (click)="selected_car = car; selectDate()">
          <ion-icon name="share" color="primary"></ion-icon>Test Drive
        </ion-button>
      </ion-buttons>
    </ion-card>
  </ion-list>

  <ion-modal [cssClass]="'bottom-end'">
    <ng-template>
      <ion-datetime
        presentation="date"
        size="cover"
        [showDefaultButtons]="true"
        (ionChange)="requestTestDrive($event)"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
