<ion-header>
  <ion-toolbar color="primary">
    <ion-title
      >Favourites
      <ion-icon name="heart" color="danger"></ion-icon>
    </ion-title>
    <ion-button
      fill="clear"
      (click)="navCtrl.back()"
      routerDirection="back"
      slot="start"
      color="light"
      ><ion-icon name="arrow-back"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    style="background-color: azure; border: 2px solid blue"
    *ngFor="let f of favorites | async"
  >
    <img           (click)="dataSrv.selectedCarId = f.carid"
          [routerLink]="['/viewcar']"
 src="{{ f.image }}" />
    <ion-card-header>
      <ion-item>
        <ion-card-title
          (click)="dataSrv.selectedCarId = f.carid"
          [routerLink]="['/viewcar']"
          >{{ f.carModel }}</ion-card-title
        >
        <ion-button
          slot="end"
          fill="clear"
          color="danger"
          (click)="removeFavorite(f.id!)"
          ><ion-icon name="trash"></ion-icon
        ></ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>
