<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title align="center">Log In</ion-title>
      <ion-button fill="clear" routerLink="/home" slot="start" color="dark">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <div class="signin-overlay ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
            <ion-icon name="mail" slot="start" class="input-icon"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
            <ion-icon
              name="lock-closed"
              slot="start"
              class="input-icon"
            ></ion-icon>
          </ion-item>
          <ion-item lines="none" class="forget-password">
            <ion-button (click)="send()" fill="clear" color="medium" slot="end">
              Forgot Password?
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button
            (click)="login()"
            expand="block"
            shape="round"
            class="sign-in-button"
          >
            Sign In
          </ion-button>
          <p style="color: black">
            Don't have an account? <a routerLink="/signup">Sign up here</a>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
