<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Test Drives</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let t of testDrive | async">
      <ion-card-header
        (click)="dataSrv.selectedCarId = t.car"
        [routerLink]="['/viewcar']"
      >
        <ion-card-subtitle style="font-weight: bold"
          >{{ t.status }}</ion-card-subtitle
        >
        <ion-card-title>{{ t.carModel }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label> {{ t.date | timestamp | date }} </ion-label>

        <ng-container *ngIf="admin">
          <p>User ID: {{ t.user }}</p>
          <p>Car ID: {{ t.car }}</p>
          <ion-button (click)="status(t.id!, 'approved')">Approve</ion-button>
          <ion-button (click)="status(t.id!, 'pending')">Pending</ion-button>
          <ion-button (click)="status(t.id!, 'rejected')">Reject</ion-button>
        </ng-container>
        <ion-button color="danger" (click)="deleteTestDrive(t)"
          >Delete</ion-button
        >
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
