<ion-header>
  <ion-toolbar>
    <ion-title> View Showroom </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- HTML code for the button -->

  <ion-item>
    <ion-searchbar debounce="800" animated="true" [(ngModel)]="searchTerm"
      (ionInput)="onSearchInput($event)"></ion-searchbar>
  </ion-item>

  <div *ngIf="filteredShowrooms.length >0" class="ion-text-center">
    <h1>Filtered Result:</h1>

    <ion-item *ngFor="let filter of filteredShowrooms " class="ion-text-center">
      <ion-thumbnail>
        <img src="{{filter.image}}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{filter.name}}</h2>
        <h3>{{filter.address}}</h3>
        <h4>{{filter.phone}}</h4>
      </ion-label>
    </ion-item>
  </div>

  <ion-slides pager="true" autoplay="true" keyboard="true" class="slide-container">
    <ion-slide *ngFor="let image of this.carService.showroom | async">
      <img src="{{image.image}}" class="slide-image" />
    </ion-slide>
  </ion-slides>


  <ion-item class="ion-text-center">
    <h1>Showrooms Nearby You</h1>
  </ion-item>

  <ion-card *ngFor="let showroom of carService.showroom|async" class="ion-text-center">
    <img src="{{showroom.image}}" width="100%" />
    <ion-card-header>
      <ion-card-title>{{showroom.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-title>{{showroom.address}}</ion-card-title>
      <p>Phone Number: {{showroom.phone}}</p>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let star of [1, 2, 3, 4, 5]">
            <ion-icon name="star" color="dark" [style.opacity]="star <= showroom.rating ? '1' : '0.3'"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p>Distance: {{showroom.distance}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <ion-button routerLink="showroom/{{ showroom.id }}" expand="block">View Details</ion-button>
        <!-- {{ showroom.id }} -->
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- this card should update with the slider -->

  <ion-list>
    <ion-list-header class="ion-no-margin-bottom">
      <ion-label>
        <h4>Other Showrooms</h4>
        <p>Discover more showrooms</p>
      </ion-label>
    </ion-list-header>
    <ion-item lines="none" *ngFor="let showroom of carService.showroom|async">
      <ion-thumbnail slot="start">
        <img src="{{showroom.image}}" />
      </ion-thumbnail>
      <ion-label>
        <h1>{{showroom.name}}</h1>
        <h2>Address: {{showroom.address}}</h2>
        <h3>Phone Number: {{showroom.phone}}</h3>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let star of [1, 2, 3, 4, 5]">
              <ion-icon name="star" color="dark" [style.opacity]="star <= showroom.rating ? '1' : '0.3'"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
        <p>Distance: {{showroom.distance}}</p>
      </ion-label>
      <ion-button routerLink="showroom/{{ showroom.id }}">View details</ion-button>
      <!-- Currently doesnt work!!! -->
    </ion-item>
  </ion-list>
</ion-content>