<ion-header>
  <ion-toolbar>
    <ion-title>{{ car.model }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="../"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="car.image" [alt]="car.model" class="car-image" />
    <ion-card-header>
      <ion-card-title>{{ car.model }}</ion-card-title>
      <ion-card-subtitle>{{ car.type }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ car.specifications }}</p>
      <ion-list>
        <ion-item>
          <ion-label>Color:</ion-label>
          <ion-text>{{ car.color }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Mileage:</ion-label>
          <ion-text>{{ car.mileage }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Price:</ion-label>
          <ion-text>{{ car.price }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Favorites:</ion-label>
          <ion-toggle
            [(ngModel)]="isFavorited"
            (ionChange)="toggleFavorite()"
          ></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ng-container *ngFor="let car of dataSrv.car|async">
      <!-- *ngIf="car.showroom==showid" -->
      <ion-item>
        <ion-card>
          <ion-card-header>
            <img src="{{car.image}}" alt="" />
            <ion-card-title>{{car.model}}</ion-card-title>
            <ion-card-subtitle>{{car.type}}</ion-card-subtitle>
            <p>{{car.specifications}}</p>
          </ion-card-header>
          <ion-card-content>
            <h1>Color: {{car.color}}</h1>
            <h1>Mileage: {{car.mileage}}</h1>
            <h1>Features:</h1>
            <ul>
              <li *ngFor="let feature of car.features">{{feature}}</li>
            </ul>
            <p>Price: {{car.price}}</p>
          </ion-card-content>
          <ion-buttons>
            <ion-button fill="clear" color="primary">
              <!-- (click)="viewCar(car)" -->
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
            <ion-button>
              <!-- (click)="addToFavorites(car)"-->
              <ion-icon name="heart"></ion-icon>Favorite
            </ion-button>
            <!-- <ion-button (click)="requestTestDrive(car)"> -->
            <!-- </ion-button> -->
          </ion-buttons>
        </ion-card>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
