<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tab 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let t of testDrives | async">
      <ion-card-header>
        <ion-card-title>{{ t.carModel }}</ion-card-title>
        <ion-card-subtitle>{{ t.status }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>User ID: {{ t.user }}</p>
        <p>Car ID: {{ t.car }}</p>
        <p>Date: {{ t.date.toDate() | date }}</p>
      </ion-card-content>
      <ion-button (click)="status(t.id, 'approved')">Approve</ion-button>
      <ion-button (click)="status(t.id, 'pending')">Pending</ion-button>
      <ion-button (click)="status(t.id, 'rejected')">Reject</ion-button>
    </ion-card>
  </ion-list>
</ion-content>
