<ion-content class="home-background">
  <ion-content ion-padding align="center">
    <ion-card>
      <img src="assets/car12.jpg" style="width: 600px; height: 500px" />
      <ion-card-header>
        <ion-card-title>Welcome!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>
          Find your dream car with our easy-to-use app. <br />
          Browse our collection of new and used cars, filter by make, model and
          price range. <br />
          Get detailed specs, reviews and schedule test drives all in one place.
          Start your search today!
        </ion-label>
      </ion-card-content>
      <ion-button expand="block" routerLink="/signup" shape="round">
        Create New Account
      </ion-button>
      <p>Already have an account? <a routerLink="/login">Sign In</a></p>
    </ion-card>
  </ion-content>
</ion-content>
